/* Global */
* {
    font-family: 'Lexend', sans-serif;
}

/* Input UNIFIX */
.input-unifix {
    width: 100%;
    height: 48px;
    line-height: 48px;               
    padding: 0 44px;                 
    padding-left: 44px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    color: white;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
}

/* Posisi Ikon Kiri */
.icon-left {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #d1d1d1;
}

/* Posisi Ikon Eye Button */
.icon-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #d1d1d1;
}

.input-unifix::placeholder {
    color: #cccccc;
}

/* Button UNIFIX */
.btn-unifix {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right, #667eea, #764ba2);
    transition: 0.2s ease;
}

.btn-unifix:hover {
    transform: scale(1.02);
    background: linear-gradient(to right, #667eea90, #764ba290);
}

/* Fix Autofill Glass */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.08) inset !important;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.08) inset !important;

    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff !important;

    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 8px !important;

    transition: background-color 9999s ease-in-out 0s !important;
}

/* Remove Default Focus */
input:focus {
    outline: none !important;
    box-shadow: none !important;
}